# Gitignore file
# https://help.github.com/articles/ignoring-files

# Dependencies
/node_modules

# Next.js
/.next/

# Local .env files
.env*.local
.env

# Typescript
next-env.d.ts

# Visual Studio Code
/.vscode/*